@use '@/app/styles/helpers' as *;

.profile {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-secondary);
  color: var(--text-primary);
  user-select: none;
  padding: var(--navbar-height) 20px 20px 20px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  .progressSection {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .link {
    color: black;
    display: none;
  }

  @include mobile {
    width: calc(100vw - 82px);
    overflow: hidden;
    padding: var(--navbar-height) 12px 12px 12px;

    .link {
      display: block;
    }

    .progressSection {
      max-width: 100%;
    }
  }
}
