@use '@/app/styles/helpers' as *;

.icon {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: var(--text-inverse);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--space-3);
  user-select: none;
  cursor: pointer;
  transition: color var(--transition-normal) var(--ease-in-out);

  &.sidebar {
    color: var(--sidebar-text);

    &:hover {
      color: var(--sidebar-text);
    }
  }

  &.bottomBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: var(--space-1) 0;
    color: var(--text-secondary);
    flex: 1;
    font-size: var(--font-size-xs);
    line-height: 1.2;
    border-radius: var(--rounded-sm);
    transition:
      background-color 150ms ease-in-out,
      color 150ms ease-in-out;

    .icon > svg {
      width: 24px;
      height: 24px;
    }

    .text {
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-normal);
    }

    &:hover .text {
      transform: none;
    }

    &:hover:not(.active) {
      color: yellow;
    }
  }

  .text {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-normal);
    white-space: nowrap;
    opacity: var(--opacity-0);
    width: 0;
    margin-left: 0;
    overflow: hidden;
    transition: all var(--transition-slow) var(--ease-in-out);
    visibility: hidden;

    &.small {
      font-size: var(--font-size-base);
    }

    &.medium {
      font-size: var(--font-size-2xl);
    }

    &.large {
      font-size: var(--font-size-4xl);
    }
  }

  &:hover .text {
    transform: translateX(10px) scale(1.1);
  }
}

.link.bottomBar .text {
  visibility: visible;
  opacity: 1;
  width: auto;
  margin-left: 0;
  overflow: visible;
  transition: none;
}

.link.active {
  color: var(--primary);
}

.link .parentHoveredText {
  visibility: visible;
  opacity: var(--opacity-100);
  width: auto;
  margin-left: var(--space-1);
}
